<a href="https://colab.research.google.com/github/smit-collab/practice/blob/main/Dictionary__exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### A dictionary object is mutable in Python. Python dictionary contains the data in the form of key-value pairs.

### convert list to dictionaries

In [1]:
keys = ["one","two"]
value = [1,2]

sample_dict = dict(zip(keys,value))
sample_dict

{'one': 1, 'two': 2}

merge two dictionaries

In [2]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1,**dict2}
print("Using new python ver:  ",dict3)

# or
dict4 = dict1.copy()
dict4.update(dict2)
print("Using old python ver:  ",dict4)

Using new python ver:   {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
Using old python ver:   {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### Access the value of key ‘history’

In [3]:
sampleDict1 = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

sampleDict1["class"]["student"]["marks"]["history"]

80

### Create a new dictionary by extracting the following keys from a below dictionary

In [4]:
sampleDict2 = {
  "name": "Dwight",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

keys=['name','salary']

newDict = {k:sampleDict2[k] for k in keys} 
newDict

{'name': 'Dwight', 'salary': 8000}

### Removing keys

In [5]:
sampleDict3 = {
  "name": "Dwight",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

keys=['name','salary']

newDict1 = {k:sampleDict3[k] for k in sampleDict3.keys()-keys} 
newDict1

{'age': 25, 'city': 'New york'}

### Check for a value

In [9]:
sampleDict4 = {'a': 100, 'b': 200, 'c': 300}
print(200 in sampleDict4.values())

True

### Rename key

In [12]:
sampleDict5 = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict5["location"] = sampleDict5.pop("city")
sampleDict5

{'age': 25, 'location': 'New york', 'name': 'Kelly', 'salary': 8000}

### Get key of min value

In [18]:
sampleDict6 = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}



min(sampleDict6,key=sampleDict6.get)

'Math'

### Change a value in dict

In [23]:
sampleDict7 = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict7["emp3"]['salary']=8500
print(sampleDict7)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}