<a href="https://colab.research.google.com/github/smit-collab/practice/blob/main/Some_Python_tricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### measure the time elapsed to execute your code in Python

In [4]:
import time
startTime = time.time()
print('hello world')
endTime = time.time()
totalTime = endTime-startTime
print("Total time taken to execute is: ",totalTime*1000,"ms")

hello world
Total time taken to execute is:  1.7974376678466797 ms

### difference between the two Lists

In [8]:
list1 = [1,3,5,6]
list2 = [3,4,2,4]
set1 = set(list1)
set2 = set(list2)
print(list(set1.symmetric_difference(set2)))

[1, 2, 4, 5, 6]

### Calculate memory is being used by an object

In [11]:
import sys
list3 = ['dwight','michael']
print("size of list is",sys.getsizeof(list3),"bytes")

name = "dwight"
print("size of name is",sys.getsizeof(name),"bytes")

size of list is 88 bytes
size of name is 55 bytes

### Removing duplicates items from a list

In [13]:
list4= [20, 22, 24, 26, 28, 28, 20, 30, 24]
print("Original list is:  ", list4)

# convert to sets as sets are unordered,unique values and don't allow copies
print("List without copies is",set(list4))

Original list is:   [20, 22, 24, 26, 28, 28, 20, 30, 24]
{20, 22, 24, 26, 28, 30}

### if all elements in a list are identical

In [23]:
list5 = [2,2,2,2,2,2]

# check if the first element count is same as length of list
list5.count(list5[0])==len(list5)

True

### efficiently compare two unordered lists

In [32]:
# both the list have same values but are unordered
from collections import Counter

list6 = [4,6,2,1,8]
list7 = [4,2,6,8,1]

print("Q. Are two lists equal ? \nAns:",Counter(list6) == Counter(list7))

Q. Are two lists equal ?
Ans: True

### Use enumerate

In [35]:
list8 = ["angela","stanley"]
for index,element in enumerate(list8):
  print('Index[',index,']',"value:",element)

Index[ 0 ] value: angela
Index[ 1 ] value: stanley

### Merge two dictionaries in a single expression

In [36]:
currentEmployee = {1: 'Michael', 2: "Angela", 3:"Kevin"}
formerEmployee  = {2: 'Stanley', 4: "Dwight"}

combined_dict = {**currentEmployee,**formerEmployee}
combined_dict

{1: 'Michael', 2: 'Stanley', 3: 'Kevin', 4: 'Dwight'}

### Format a decimal to always show 2 decimal places

In [37]:
number = 88.23
print('{0:.2f}'.format(number))

88.23