<a href="https://colab.research.google.com/github/smit-collab/practice/blob/main/Tuple_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### A tuple is an immutable object in Python that canâ€™t be changed.

### Reverse Tuple

In [12]:
# tuples are immutable, thus it cannot be changed or altered. so we need to use other methods like slicing

a_tuple = (10,20,30,40,50)
reverse_tuple = a_tuple[::-1]
print("Normal tuple : ",a_tuple)
print("reverse tuple: ",reverse_tuple)

Normal tuple :  (10, 20, 30, 40, 50)
reverse tuple:  (50, 40, 30, 20, 10)

### Access a value  from the following tuple

In [14]:
bTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(bTuple[1][1])

20

### Creating a tuple with single item

In [15]:
cTuple = (20,)
cTuple

(20,)

### Unpacking the tuple into variables

In [16]:
dTuple = (10, 20, 30, 40)
a,b,c,d = dTuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

### Swapping the tuples

In [17]:
tuple1 = (1,2,3)
tuple2 = (2,3,4)
tuple1,tuple2 = tuple2,tuple1
print(tuple1)
print(tuple2)

(2, 3, 4)
(1, 2, 3)

### Copying a element into new tuple

In [28]:
tuple1 = (10,32,13)
tuple2 = tuple1[0:2]
tuple2

(10, 32)

### Modifying the list inside the tuple

In [29]:
tuple3 = (1,2,[3,4],5)
tuple3[2][0]=2.5
tuple3

(1, 2, [2.5, 4], 5)

### Sorting a tuple by 2nd item

In [35]:
tuple4 = (('a', 23),('b', 37),('c', 11), ('d',29))
sort_tuple4 = tuple(sorted(list(tuple4), key=lambda x:x[1]))
print(sort_tuple4)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

### frequency items in tuple

In [50]:
tuple5 = (50, 10, 60, 70, 80)

for i in tuple5:
  print(i,"count is {}".format(tuple5.count(i)))

50 count is 1
10 count is 1
60 count is 1
70 count is 1
80 count is 1

### count a value

In [51]:
tuple6 = (50, 10, 60, 70, 80)
tuple6.count(50)

1

### if all items in tuple are same

In [54]:
tuple7 = (50, 10, 60, 70, 50)

def check(sample_tuple):
  return all(i==sample_tuple[0] for i in sample_tuple)

check(tuple7)

False